# =========================
# Python cache / bytecode
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
.env
.venv
venv/
env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# SQLite databases
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary / backup files
# =========================
*.tmp
*.bak
*.swp